<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecmis.dao.menu.MenuResourceMapper">

    <select id="getByParentMenu" parameterType="int" resultType="menuResource">
		select * from sys_menu where parentMenuId=#{parentMenuId} and status=1
	</select>

    <select id="getCurrentUserLevel1Menus" parameterType="int" resultMap="menuChild">
		SELECT sm.* FROM sys_menu sm ,
		                  sys_privilege sp ,
		                  sys_role sr,
		                  sys_user su,
		                  sys_user_role sur
		    WHERE sm.`status`=1
		    AND sm.`parentMenuId` IS NULL
		    AND su.userId=#{userId}
		    AND su.`userId`=sur.`userId`
		  	AND sur.`roleId`=sr.`roleId`
		    AND sp.`resourceId`=sm.`menuId`
		    AND sp.`resourceType`='menu'
		    AND sr.`roleId`=sp.`masterId`
		    AND sp.`masterType`='role'
		    OR sp.`masterId`=su.`userId`
		    AND sp.`masterType`='user'
	</select>
    <resultMap type="menuResource" id="menuChild">
        <id property="menuId" column="menuId" javaType="int"/>
        <collection property="children"
					select="com.ecmis.dao.menu.MenuResourceMapper.getByParentMenu" column="menuId"
                    ofType="menuResource"></collection>
    </resultMap>

	<resultMap id="menuChild1" type="menuResource">
		<id property="menuId" column="menuId" javaType="int"/>
		<result property="parentMenuId" column="parentMenuId"/>
		<result property="menuName" column="menuName"/>
		<result property="parentMenuId" column="parentMenuId"/>
		<result property="url" column="url"/>
		<result property="icon" column="icon"/>
		<result property="type" column="type"/>
		<result property="status" column="status"/>
		<collection property="children" ofType="menuResource">
			<id property="menuId" column="menuId" javaType="int"/>
			<result property="parentMenuId" column="parentMenuId"/>
			<result property="menuName" column="menuName"/>
			<result property="parentMenuId" column="parentMenuId"/>
			<result property="url" column="url"/>
			<result property="icon" column="icon"/>
			<result property="type" column="type"/>
			<result property="status" column="status"/>
		</collection>
	</resultMap>
    <select id="getAdminMenus" resultType="menuResource">
		select * from sys_menu where status =1 and  parentMenuId is null
    </select>
</mapper>